{% extends "layout.html" %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Join the Adult Social Care Workforce Register (ASC-Workforce Register)</h1>

        <h2 class="govuk-heading-m">What is the ASC-Workforce Register?</h2>
        <p class="govuk-body">The register is a list of staff working in adult social care in England. It is run by Skills for Care, in partnership with the Department of Health and Social Care.</p>

        <h2 class="govuk-heading-m">How does it work?</h2>
        <p class="govuk-body">You will become a member of a valued professional community, giving you the recognition you deserve. The register will allow us to update you on important news, such as the latest government guidance. It will also provide ways to support your wellbeing and in the future, training opportunities to help you further your career.</p>

        <h2 class="govuk-heading-m">Who should be on the register?</h2>
        <p class="govuk-body">All adult social care staff.</p>

        <h2 class="govuk-heading-m">How do I join the register?</h2>
        <p class="govuk-body">You just need to tell us your name, job role and give us permission to send you information on the email address, or mobile number, you would prefer to be contacted on.</p>

        <h2 class="govuk-heading-m">What will we use this data for?</h2>
        <p class="govuk-body">We will only use these contact details to send you information. They will not be used for any other purpose and we will not share them with anyone else.</p>
        <form method="post">
          <input name="contact-by-email" type="hidden" value="{{ email }}">
          <input type="hidden" name="version" value="b">
          <input type="hidden" name="figma" value="{{ figma }}">
          <button class="govuk-button govuk-button--start govuk-!-margin-top-6">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>
          </button>
        </form>
        
    </div>
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-8">
      <img src="/public/images/working-in-partnership.svg">
    </div>
</div>
{% endblock %}
