{% extends "layout.html" %}
{% import "register/macros/sub-heading.html" as subHeading %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            <span class="govuk-caption-l">{{ subHeading.content(data['version']) }}</span>
            <h1 class="govuk-heading-l">
                Your employer details
            </h1>
            <p class="govuk-body">We need these to verify you work in adult social care.</p>
            <div class="govuk-form-group">
                <label class="govuk-label" for="company-name">
                    Company name
                  </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="company-name" name="company-name" type="text" value="{{ data['company-name'] }}">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="postcode">
                    Postcode
                  </label>
                <input class="govuk-input govuk-!-width-one-quarter" id="postcode" name="postcode" type="text" value="{{ data['postcode'] }}">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}
