{% extends "layout.html" %}
{% import "macros/enter-staff-details.html" as enterStaffDetails %}
{% import "macros/enter-staff-details-b.html" as enterStaffDetailsB %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
{% if showB %}
{{ enterStaffDetailsB.content(data, '/gov/bulk-upload', query, true, '/gov/start', '/gov/enter-staff-details') }}
{% else %}
{{ enterStaffDetails.content(data, '/gov/bulk-upload', query, true, '/gov/start', '/gov/enter-staff-details') }}
{% endif %}
{% endblock %}
