{% macro enterStaffDetails(page, data) %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add staff contact details for Care Co LTD
      </h1>
      <p>Enter the email address or phone number for each member of staff to invite them to join the Adult Social Care Workforce Register.</p>
      <p><a href="#">What is the Adult Social Care Workforce Register?</a></p>
    </div>
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name/ID number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Job role</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Email address</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if not page %}
          {% set page = 1 %}
          {% endif %}
          {% for staff in (data['staff'][page]) %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ staff['name'] }}</td>
              <td class="govuk-table__cell">{{ staff['title'] }}</td>
              <td  class="govuk-table__cell">
                <input id="contact-email" class="govuk-input" id="registration-number" name="vehicle-registration" value="" type="text">
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" onclick="onClick(this)">
                  Save
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <script>
        function onClick(button) {
          const newDiv = document.createElement("span");
          const newContent = document.createTextNode("Sent");
          newDiv.appendChild(newContent);
          const buttonTd = button.parentNode;
          buttonTd.replaceChild(newDiv, button);
          const inputTd = buttonTd.parentNode.querySelector("#contact-email");
          const newDiv2 = document.createElement("span");
          const newContent2 = document.createTextNode(inputTd.value);
          newDiv2.appendChild(newContent2);
          inputTd.parentNode.replaceChild(newDiv2, inputTd);
        }
      </script>
      <nav class="moj-pagination" id="pagination-label">
        <p class="moj-pagination__results">Showing <b>{{ 15 * (page - 1) + 1 }} - {{ 15 * (page - 1) + 15 }}</b> of <b>200</b></p>
        
        <ul class="moj-pagination__list">
          {% if page > 1 %}
            <li class="moj-pagination__item moj-pagination__item--prev">
              <a class="moj-pagination__link" href="?page={{ page - 1 }}">Previous page</a>
            </li>
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="?page=1">1</a></li>
          {% endif %}
          {% if page > 3 %}
            <li class="moj-pagination__item">...</li>
          {% endif %}
          {% if page > 2 %}
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="?page={{ page - 1 }}">{{ page - 1 }}</a></li>
          {% endif %}
            <li class="moj-pagination__item moj-pagination__item--active">{{ page }}</li>
          {% if page < 14 %}
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="?page={{ +page + 1 }}">{{ +page + 1 }}</a></li>
          {% endif %}
          {% if page < 12 %}
            <li class="moj-pagination__item">...</li>
          {% endif %}
          {% if page < 13 %}
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="?page=14">14</a></li>
          {% endif %}
          {% if page < 14 %}
            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="?page={{ +page + 1 }}">Next page</a>
            </li>
          {% endif %}
        </ul>
      </nav> 
    </div>
</div>
{% endmacro %}