{% macro content(data, bulkUploadLink, query, sfc) %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add staff contact details for Care Co LTD
      </h1>
      <p>Enter the email address or phone number for each member of staff to invite them to join the Adult Social Care Workforce Register.</p>
      <p><a href="#">What is the Adult Social Care Workforce Register?</a></p>
      {% if query.showBulkUpload %}
      <p><a href="{{ bulkUploadLink }}">Bulk upload staff contact details</a></p>
      {% endif %}
    </div>
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name/ID number</th>
            <th scope="col" class="govuk-table__header">Job role</th>
            <th scope="col" colspan="3" class="govuk-table__header">Email address or mobile phone number</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if not query.page %}
          {% set page = 1 %}
          {% else %}
          {% set page = query.page %}
          {% endif %}
          {% set index = 1 %}
          {% for staff in (data['staff'][page]) %}
            <tr class="govuk-table__row">
              <td id="contact-name-{{ index }}" class="govuk-table__cell govuk-!-padding-top-3">{{ staff['name'] }}</td>
              <td class="govuk-table__cell govuk-!-padding-top-3">{{ staff['title'] }}</td>
              <td class="govuk-table__cell" style="width: 420px">
                <input id="contact-email-{{ index }}" class="govuk-input" type="text">
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-!-margin-bottom-0" data-index="{{ index }}" onclick="onClick(this)">
                  Send invite
                </button>
              </td>
              <td class="govuk-table__cell govuk-!-padding-top-3">
                <a class="govuk-link" href="#" onclick="onDelete(this)">Delete</a>
              </td>
            </tr>
            {% set index = index + 1 %}
          {% endfor %}
        </tbody>
      </table>
      {% if sfc %}
      <script>
        const sfc = true;
      </script>
      {% else %}
      <script>
        const sfc = false;
      </script>
      {% endif %}
      <template id="input-template">
        <td class="govuk-table__cell" style="width: 420px">
          <input class="govuk-input" type="text">
        </td>
      </template>
      <template id="send-template">
        <td class="govuk-table__cell">
          <button class="govuk-button govuk-!-margin-bottom-0" data-index="" onclick="onClick(this)">
            Send invite
          </button>
        </td>
      </template>
      <template id="change-template">
        <td class="govuk-table__cell govuk-!-padding-top-3">
          <a class="govuk-link" data-index="" onclick="onChange(this)" href="#">Change</a>
        </td>
      </template>
      <template id="details-template">
        <td class="govuk-table__cell govuk-!-padding-top-3" style="width: 420px">
          <span id=""></span>
        </td>
      </template>
      <script>
        function onClick(button) {
          const changeTemplate = document.getElementById("change-template");
          const changeNode = document.importNode(changeTemplate.content, true);
          changeNode.querySelector('a').dataset.index = button.dataset.index;
          button.parentNode.parentNode.replaceChild(changeNode, button.parentNode);

          const inputTd = document.getElementById(`contact-email-${button.dataset.index}`);
          const detailsTemplate = document.getElementById("details-template");
          const detailsNode = document.importNode(detailsTemplate.content, true);
          const item = detailsNode.querySelector('span');
          item.id = `contact-email-${button.dataset.index}`
          item.textContent = inputTd.value;
          inputTd.parentNode.parentNode.replaceChild(detailsNode, inputTd.parentNode);

          const nameTd = document.getElementById(`contact-name-${button.dataset.index}`);

          $.ajax({
            type: "POST",
            url: "/email/invite",
            data: {
              email: inputTd.value,
              name: nameTd.innerText,
              sfc
            },
            dataType: "application/json"
          });
        }

        function onChange(button) {
          const sendTemplate = document.getElementById("send-template");
          const sendNode = document.importNode(sendTemplate.content, true);
          sendNode.querySelector('button').dataset.index = button.dataset.index;
          button.parentNode.parentNode.replaceChild(sendNode, button.parentNode);

          const inputTd = document.getElementById(`contact-email-${button.dataset.index}`);
          const inputTemplate = document.getElementById("input-template");
          const inputNode = document.importNode(inputTemplate.content, true);
          const item = inputNode.querySelector('input');
          item.id = `contact-email-${button.dataset.index}`
          item.value = inputTd.textContent;
          inputTd.parentNode.parentNode.replaceChild(inputNode, inputTd.parentNode);
        }

        function onDelete(button) {
          button.parentNode.parentNode.remove();
        }
      </script>
      <nav class="moj-pagination" id="pagination-label">
        <p class="moj-pagination__results">Showing <b>{{ 15 * (page - 1) + 1 }} - {{ 15 * (page - 1) + 15 }}</b> of <b>200</b></p>
        
        <ul class="moj-pagination__list">
          {% if page > 1 %}
            <li class="moj-pagination__item moj-pagination__item--prev">
              <a class="moj-pagination__link" href="{{ { page: +page - 1 } | appendQuery(query) }}">Previous page</a>
            </li>
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ { page: 1 } | appendQuery(query) }}">1</a></li>
          {% endif %}
          {% if page > 3 %}
            <li class="moj-pagination__item">...</li>
          {% endif %}
          {% if page > 2 %}
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ { page: +page - 1 } | appendQuery(query) }}">{{ page - 1 }}</a></li>
          {% endif %}
            <li class="moj-pagination__item moj-pagination__item--active">{{ page }}</li>
          {% if page < 14 %}
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ { page: +page + 1 } | appendQuery(query) }}">{{ +page + 1 }}</a></li>
          {% endif %}
          {% if page < 12 %}
            <li class="moj-pagination__item">...</li>
          {% endif %}
          {% if page < 13 %}
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{ { page: 14 } | appendQuery(query) }}">14</a></li>
          {% endif %}
          {% if page < 14 %}
            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="{{ { page: +page + 1 } | appendQuery(query) }}">Next page</a>
            </li>
          {% endif %}
        </ul>
      </nav> 
    </div>
</div>
{% endmacro %}