{% macro content() %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">How would you like to add your staff contact details?</h1>
                    <p>You will need to enter an email address or mobile phone number for each member of staff.</p>
                    <p class="govuk-inset-text">
                        You will only need to upload these contact details once, for the people who are employed by you and not for any subsequent new employees.
                    </p>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-to-enter-staff-details" name="how-to-enter-staff-details" type="radio" value="manually">
                      <label class="govuk-label govuk-radios__label" for="how-to-enter-staff-details">
                        <b>Manually</b>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-to-enter-staff-details-2" name="how-to-enter-staff-details" type="radio" value="bulk-upload">
                      <label class="govuk-label govuk-radios__label" for="how-to-enter-staff-details-2">
                        <b>Bulk upload</b>
                        <p>Use bulk upload to add large amounts of staff information. You will need to download and complete your current staff data file before uploading.</p>
                      </label>
                    </div>
                  </div>
                </fieldset>
            </div>
            <input type="submit" class="govuk-button" value="Continue" />
        </form>
    </div>
</div>
{% endmacro %}
