{% extends "layout_care_hub.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            <h1 class="govuk-heading-l">
                Create a username and password
            </h1>
            <div class="govuk-form-group">
                <label class="govuk-label" for="username">
                    Username
                </label>
                <div class="govuk-hint">
                    You will use this to sign in. It should be unique to you and it can be your email or mobile phone
                    number.
                </div>
                <input class="govuk-input govuk-!-width-two-thirds" id="username" name="username" type="text"
                    value="{{ data['username'] }}">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                    Password
                </label>
                <div class="govuk-hint">
                    Must be at least 8 characters long and have uppercase letters, lowercase letters and numbers.
                </div>
                <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password"
                    value="{{ data['password'] }}">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="confirm">
                    Confirm password
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="confirm" name="confirm" type="password"
                    value="{{ data['confirm'] }}">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}