{% extends "layout.html" %}
{% import "sprint-2/macros/enter-staff-details.html" as enterStaffDetails %}
{% import "sprint-2/macros/enter-staff-details-b.html" as enterStaffDetailsB %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
{% if showB %}
{{ enterStaffDetailsB.content(data, '/sprint-2/gov/bulk-upload', query, true, '/sprint-2/gov/start', '/sprint-2/gov/enter-staff-details') }}
{% else %}
{{ enterStaffDetails.content(data, '/sprint-2/gov/bulk-upload', query, true, '/sprint-2/gov/start', '/sprint-2/gov/enter-staff-details') }}
{% endif %}
{% endblock %}
