// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/bulk-upload";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

td span {
  padding-left: 6px;
}

td:last-child span {
  padding-left: 12px;
}

.govuk-button--link {
    background: none;
    box-shadow: none;
    color: #1d70b8;
    text-decoration: underline;
    position: absolute;
    padding-top: 10px;
    font-size: 18px;
  }


  @media (min-width: 40.0625em) {
    .govuk-list--download > li {
      margin-bottom: 15px;
    }
  }
  .js-enabled .govuk-accordion__section-header {
      position: relative;
      padding-right: 40px;
      border-top: 1px solid #b1b4b6;
      color: #1d70b8;
      cursor: pointer;
    }
    @media (hover: none) {
      .js-enabled .govuk-accordion__section-header:hover {
        border-top-color: #1d70b8;
        box-shadow: inset 0 3px 0 0 #1d70b8;
      }
    }
    .govuk-table__header {
      font-weight: 700;
    }
    .govuk-table__header {
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #b1b4b6;
      text-align: left;
      vertical-align: top;
    }
    .govuk-table__header--numeric {
      text-align: right;
    }
    .govuk-table__header:last-child {
      padding-right: 0;
    }