
{% extends "layout.html" %}

{% block pageTitle %}
  Adult Social Care Workforce Register Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Care Register Prototype
      </h1>
      

      <h2 class="govuk-heading-m">Sprint 1</h2>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">GOV.UK employer journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-1/gov/enter-staff-details">Enter staff details</a>
          </li>
          <li>
            <a href="/sprint-1/gov/bulk-upload">Bulk upload</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Skills for Care employer journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-1/sfc/enter-staff-details">Enter staff details</a>
          </li>
          <li>
            <a href="/sprint-1/sfc/bulk-upload">Bulk upload</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-full govuk-!-margin-top-6"></div>

      <h2 class="govuk-heading-m go">Sprint 2</h2>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">GOV.UK employer journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-2/gov/start">Start</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Skills for Care employer journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-2/sfc/start">Start</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Employee journey A</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-2/employee/start?version=a">Start</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Employee journey B</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sprint-2/employee/start?version=b">Start</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-full govuk-!-margin-top-6"></div>

      <h2 class="govuk-heading-m">Sprint 3</h2>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Employee journey iteration with Care branding</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/care/start">Start</a>
          </li>
          <li>
            <a href="/care/start?hideHints=true">Start with no hints</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Skills for Care employer journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/sfc/start?version=b">Start option 1</a>
          </li>
          <li>
            <a href="/sfc/start?version=a">Start option 2</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-full govuk-!-margin-top-6"></div>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
