{% extends "layout.html" %}

{% block pageTitle %}
What is your most impressive juggling trick?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-your-answers" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="most-impressive-trick">
              What is your most impressive juggling trick?
            </label>
          </h1>
          <textarea class="govuk-textarea" id="most-impressive-trick" name="most-impressive-trick" rows="5" aria-describedby="most-impressive-trick-hint"></textarea>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
